In [ ]:
import requests
import pandas as pd
import json

def get_kosis_data(api_url):
    # 통계청 OpenAPI URL로 DataFrame 가져오기

    try:
        # API 호출
        response = requests.get(api_url)
        print(f"응답 상태: {response.status_code}")

        # JSON 데이터 파싱
        if response.status_code == 200:
            json_data = response.json()

            # DataFrame 변환
            df = pd.DataFrame(json_data)
            print(f"데이터 수집 완료: {len(df)}행")
            return df
        else:
            print(f"API 호출 실패: {response.status_code}")
            return None

    except Exception as e:
        print(f"오류 발생: {e}")
        return None

# 사용법
your_api_url = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=YWE5NThkOGJhMTQxYzgyMmVmNDEwNGIzMWM2YzIzNDM=&itmId=T70+T80+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Q&newEstPrdCnt=9&prdInterval=1&orgId=101&tblId=DT_1B26003_A01"
df = get_kosis_data(your_api_url)

# 결과 확인
if df is not None:
    print(df.head())
    print(f"컬럼: {df.columns.tolist()}")

응답 상태: 200
데이터 수집 완료: 5832행
  C1_OBJ_NM C2_NM       DT  C2  C1 PRD_SE UNIT_NM_ENG ITM_ID          TBL_ID  \
0      전출지별    전국  1717469  00  00      Q      Person    T70  DT_1B26003_A01
1      전출지별    전국  1426239  00  00      Q      Person    T70  DT_1B26003_A01
2      전출지별    전국  1470262  00  00      Q      Person    T70  DT_1B26003_A01
3      전출지별    전국  1514768  00  00      Q      Person    T70  DT_1B26003_A01
4      전출지별    전국  1814718  00  00      Q      Person    T70  DT_1B26003_A01

  ITM_NM  ...  LST_CHN_DE      C1_NM_ENG C1_NM UNIT_NM ITM_NM_ENG  \
0   이동자수  ...  2023-04-24  Whole Country    전국       명   Migrants
1   이동자수  ...  2023-07-10  Whole Country    전국       명   Migrants
2   이동자수  ...  2023-10-16  Whole Country    전국       명   Migrants
3   이동자수  ...  2024-01-10  Whole Country    전국       명   Migrants
4   이동자수  ...  2024-04-08  Whole Country    전국       명   Migrants

            C2_OBJ_NM_ENG      C2_NM_ENG ORG_ID            C1_OBJ_NM_ENG  \
0  By district to move-in  Whole Country    101  By district to move-out
1  By district to move-in  Whole Country    101  By district to move-out
2  By district to move-in  Whole Country    101  By district to move-out
3  By district to move-in  Whole Country    101  By district to move-out
4  By district to move-in  Whole Country    101  By district to move-out

  C2_OBJ_NM
0      전입지별
1      전입지별
2      전입지별
3      전입지별
4      전입지별

[5 rows x 22 columns]
컬럼: ['C1_OBJ_NM', 'C2_NM', 'DT', 'C2', 'C1', 'PRD_SE', 'UNIT_NM_ENG', 'ITM_ID', 'TBL_ID', 'ITM_NM', 'TBL_NM', 'PRD_DE', 'LST_CHN_DE', 'C1_NM_ENG', 'C1_NM', 'UNIT_NM', 'ITM_NM_ENG', 'C2_OBJ_NM_ENG', 'C2_NM_ENG', 'ORG_ID', 'C1_OBJ_NM_ENG', 'C2_OBJ_NM']