In [ ]:
from getpass import getpass
token = getpass('Enter your GitHub token: ')
!git clone https://{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}@github.com/JJiiyun/Data_Analysis_Project.git

Enter your GitHub token: ··········
Cloning into 'Data_Analysis_Project'...
fatal: could not read Password for 'https://%7B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%7D@github.com': No such device or address

In [ ]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
!git checkout -b Serim/collect_data

Switched to a new branch 'Serim/collect_data'

In [ ]:
!git branch

* Serim/collect_data
  main

In [ ]:
!git add .

In [ ]:
!git commit -m "Add new feature"

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@4c0567314ae8.(none)')

In [ ]:
!git config --global user.email "ahnrim2003@naver.com"
!git config --global user.name "rimmy33"

In [ ]:
!git checkout -b Serim/collect_data

fatal: A branch named 'Serim/collect_data' already exists.

In [10]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('C:/안세림 지구탐험ing/학교 탐험/한림대/4학년 1학기/데이터마이닝/project/dm/Data_Analysis_Project/338_DT_GIABRM19_004_20250603221238.csv',encoding='cp949')

# 상위 10개 행 보기
df.head(10)

,○ 경제활동상태(성/시군/연령별) [],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,성별,시군구별,연령별,항목,단위,2015. 1/2,2015. 2/2,2016. 1/2,2016. 2/2,2017. 1/2,...,2019. 2/2,2020. 1/2,2020. 2/2,2021. 1/2,2021. 2/2,2022. 1/2,2022. 2/2,2023. 1/2,2023. 2/2,2024. 1/2
1,전체,경기도 수원시,소계,15세이상인구,명,991009.2096,997669.95,1005834.353,1011886.667,1018826.493,...,1040102.853,1040145.169,1038074.193,1041058.022,1044105.773,1053264.35,1060762.523,1064087.591,1067921.036,1072665.125
2,전체,경기도 수원시,소계,경제활동인구,명,613677.6047,616394.6767,613467.2348,608553.1252,612479.2713,...,651173.0699,635664.0397,630350.5931,632433.6687,650625.3601,656875.3875,685748.3121,667584.6169,682074.1065,692890.8325
3,전체,경기도 수원시,소계,취업자,명,583273.9635,594546.127,584536.2201,586849.1087,329202.2672,...,627291.2417,611284.5091,605967.4013,608482.1657,631472.4076,641462.7321,666257.1373,643854.8516,651992.2731,659871.3169
4,전체,경기도 수원시,소계,실업자,명,30403.6412,21848.54973,28931.01468,21704.01645,14971.11114,...,28113.0334,24379.53065,24383.19184,23951.50308,19152.9525,15412.65538,19491.17486,23729.76527,30081.83339,33019.51555
5,전체,경기도 수원시,소계,비경제활동인구,명,377331.6049,381275.2732,392367.1179,403333.5414,119001.0906,...,388929.7827,404481.1289,407723.6002,408624.3533,393480.4133,396388.9623,375014.2104,396502.9746,385846.93,379774.2923
6,전체,경기도 수원시,소계,경제활동참가율,%,61.92451,61.78343,60.99088,60.14044,60.11615,...,62.6066,61.11301,60.72308,60.74913,62.31412,62.36567,64.64673,62.73775,63.86934,64.59526
7,전체,경기도 수원시,소계,고용률,%,58.85656,59.59347,58.11456,57.99554,32.31191,...,60.3105,58.76915,58.37419,58.44844,60.47974,60.90235,62.80926,60.50769,61.05248,61.51699
8,전체,경기도 수원시,소계,실업률,%,4.95433,3.54457,4.71598,3.56649,2.44435,...,4.31729,3.83529,3.8682,3.7872,2.94378,2.34636,2.84232,3.55457,4.41035,4.76547
9,전체,경기도 성남시,소계,15세이상인구,명,810644.8221,809109.7541,817275.1379,814687.1215,812283.4302,...,799327.2748,797576.2284,798659.7233,797299.3834,799998.7679,803117.5475,797619.2886,797614.6604,792425.1028,796585.3757

In [ ]:
import os
print(os.getcwd())

/content/Data_Analysis_Project

In [ ]:
!git commit -m "Add new_feature.py with basic print function"
!git push origin Serim/collect_data

On branch Serim/collect_data
Your branch is up to date with 'origin/Serim/collect_data'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	101_DT_1ES3A01S_20250601234209.csv
	150501_20250602010526615_excel.xlsx

nothing added to commit but untracked files present (use "git add" to track)
Everything up-to-date

In [42]:
import shutil
shutil.copy('/content/content/drive/MyDrive4-1학기/데이터마이닝/data_analysis_project/Untitled64.ipynb', '/content/Data_Analysis_Project/Project_Code.ipynb')

FileNotFoundError: [Errno 2] No such file or directory: '/content/content/drive/MyDrive4-1학기/데이터마이닝/data_analysis_project/Untitled64.ipynb'

In [ ]:
%cd /content/Data_Analysis_Project

On branch Serim/collect_data
Your branch is up to date with 'origin/Serim/collect_data'.

nothing to commit, working tree clean

In [ ]:
!git add Project_Code.ipynb

Everything up-to-date

In [ ]:
!git commit -m "Add Project_Code.ipynb with updates"

In [ ]:
!git push origin Serim/collect_data

In [3]:
import requests
import pandas as pd

url = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=ZjJmMjlmZDljYjQ2NTgxODI1YTAzNmJiZTUxOTBkYWU=&itmId=T90+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&orgId=101&tblId=INH_1DA7014S_03"

response = requests.get(url)
data = response.json()  # JSON 형식으로 파싱

# data 구조 확인 (키가 뭐가 있는지 먼저 확인)
print(data.keys())

# 일반적으로 KOSIS API는 'StatisticSearch' 같은 key 안에 리스트가 있음
records = data.get('StatisticSearch')  # 실제 key 이름은 확인 필요

# DataFrame 변환
df = pd.DataFrame(records)

# 앞부분 출력
print(df.head())

dict_keys(['err', 'errMsg'])
Empty DataFrame
Columns: []
Index: []