In [5]:
import pandas as pd
import numpy as np

# CSV 파일 불러오기 및 전처리
df = pd.read_csv("fukuoka_age_groups_employment.csv")
df = df.sort_values('연도')
df_filtered = df[df['연도'].isin([2010, 2015, 2020])]
df_filtered.set_index('연도', inplace=True)
df_interpolated = df_filtered.reindex(range(2010, 2021))
df_interpolated = df_interpolated.interpolate(method='linear')
df_interpolated = df_interpolated.round().astype(int)

# 반기별(H1, H2) 나누기
semiannual_data = []

for year in df_interpolated.index:
    row = df_interpolated.loc[year]
    # 반기 데이터를 담을 dict
    h1_row = {'연도': f'{year}_H1'}
    h2_row = {'연도': f'{year}_H2'}

    for col in df_interpolated.columns:
        ratio = np.random.uniform(0.47, 0.53)  # 50% ± 3%
        total = row[col]
        h1_value = round(total * ratio)
        h2_value = total - h1_value  # 보존을 위해 나머지
        h1_row[col] = h1_value
        h2_row[col] = h2_value

    semiannual_data.extend([h1_row, h2_row])

# DataFrame 생성
df_semiannual = pd.DataFrame(semiannual_data)
df_semiannual.set_index('연도', inplace=True)

# 결과 출력
print(df_semiannual)

# CSV로 저장
df_semiannual.to_csv("후쿠오카_연령별_취업자수.csv")

         취업자_15_29세  취업자_30_49세  취업자_50_64세
연도
2010_H1      211942      459177      344982
2010_H2      189736      514583      349953
2011_H1      199475      489774      361557
2011_H2      191980      486171      325446
2012_H1      199331      509115      329084
2012_H2      181900      469015      349987
2013_H1      180792      485536      315777
2013_H2      190216      494778      355361
2014_H1      175649      463628      344431
2014_H2      185135      518871      318775
2015_H1      183949      488717      334242
2015_H2      166612      495967      321032
2016_H1      173641      484439      314872
2016_H2      176055      489358      338829
2017_H1      180803      485989      341610
2017_H2      168029      476920      310518
2018_H1      170386      463861      319465
2018_H2      177581      488161      331091
2019_H1      170835      495238      323116
2019_H2      176268      445896      325867
2020_H1      180333      471969      327216
2020_H2      165905      458278      320194